@use 'variables' as v;
body{
    background-color: black;
    div{
        background-color: rgb(170, 219, 170);
        width: 600px ;
        height: 600px;
        margin: 40px auto ;
        padding: 40px;
    }
    label{
        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        color: chocolate;
    }
    p{
        font-size: 35px;
        color: brown;
    }
    #momentInput{
        width: 120px;
        height: 30px;
        border-radius: 4px;
       color: v.$inputColor;
       font-size: v.$inputSise;
    }
    #momentBtn{
        border-radius: 4px;
        width: 100px;
        height: 40px;
        color: v.$inputColor ;
        font-size: v.$inputSise;
    }
}